:root {
  --datepicker-accent-color: #3c7da6;
  --datepicker-range-hover-border-color: #83adcc;
}
/* Below code overwrites ANTD styles to match Pilot  */
/* ***** Rangepicker input ***** */
.date-agg__wrapper {
  padding-left: 3px;
}

.date-agg__wrapper .ant-picker.ant-picker-focused,
.date-agg__wrapper .ant-picker:hover {
  border-color: var(--datepicker-accent-color) !important;
}

.date-agg__wrapper .ant-picker.ant-picker-range .ant-picker-active-bar {
  background: var(--datepicker-accent-color);
}

/* ***** Calendar dropdown ***** */
/* Header */
.ant-picker-dropdown .ant-picker-header-view {
  font-weight: 500;
}
.ant-picker-dropdown .ant-picker-header .ant-picker-header-super-prev-btn,
.ant-picker-dropdown .ant-picker-header .ant-picker-header-prev-btn,
.ant-picker-dropdown .ant-picker-header .ant-picker-header-next-btn,
.ant-picker-dropdown .ant-picker-header .ant-picker-header-super-next-btn {
  color: rgba(0, 0, 0, 0.25) !important;
}

/* Selected date */
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single):not(
    .ant-picker-cell-range-end
  )
  .ant-picker-cell-inner,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single):not(
    .ant-picker-cell-range-start
  )
  .ant-picker-cell-inner {
  border-radius: 0;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: var(--datepicker-accent-color);
}

/* Current date */
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: var(--datepicker-accent-color) !important;
}

/* Date range background */
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-range-start-single
  )::before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-range-end-single
  )::before {
  background: #d8e3e6;
}

/* Date range background on hover */
.ant-picker-dropdown
  .ant-picker-date-panel
  .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end
  .ant-picker-cell-inner::after,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-range-start-single
  ).ant-picker-cell-range-hover-start::before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end::before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-range-end-single
  ).ant-picker-cell-range-hover-end::before {
  background-color: #b2d0e3;
}

/* Date range hover  */
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-start-single.ant-picker-cell-range-hover-start::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover::after,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-hover-end::after {
  border-color: var(--datepicker-range-hover-border-color) !important;
}

/* Add left border to first day of week when hovered */
.ant-picker-dropdown
  .ant-picker-content
  tr
  .ant-picker-cell-in-view.ant-picker-cell-range-hover:first-child::after {
  border-left: 1px dashed var(--datepicker-range-hover-border-color) !important;
}

/* Add right border to last day of week when hovered */
.ant-picker-dropdown
  .ant-picker-content
  tr
  .ant-picker-cell-in-view.ant-picker-cell-range-hover:last-child::after {
  border-right: 1px dashed var(--datepicker-range-hover-border-color) !important;
}
