@import '../../../public/themeStyles/constants.css';

.tableToolbar {
  padding: 4px 16px 2px 16px;
  background: #fff;
  display: flex;
  flex: none;
  border-top: 1px solid var(--background-color-1);
}

.tableToolbar__plugins {
  flex-grow: 1;
}
.tableToolbar__plugins .buttonWrapper {
  display: flex;
}
.tableToolbar__plugins .buttonWrapper .ant-btn {
  border: none;
  color: var(--font-color-primary);
  box-shadow: none;
  padding: 4px 8px;
}
.tableToolbar__plugins .buttonWrapper .ant-btn:hover {
  color: var(--primary-color-light-1);
}

.tableToolbar .inputWrapper {
  border: none;
}

.tableToolbar .tableToolbar__filter {
  margin-left: 16px;
  display: flex;
}

.tableToolbar .tableToolbar__filter > .ant-input-affix-wrapper {
  padding: 1px 8px 0.5px 8px;
  border-radius: 6px;
  max-height: 26px;
  align-self: center;
}
.tableToolbar .tableToolbar__filter > .ant-input-affix-wrapper:focus {
  border-color: var(--primary-color-light-1);
}

.tableToolbar .tableToolbar__filter > .ant-input-affix-wrapper .ant-input-prefix {
  margin-right: 5px;
}
.tableToolbar .tableToolbar__filter > .ant-input-affix-wrapper .ant-input-prefix .anticon-search {
  color: var(--font-color-light);
  font-size: 12px;
  margin-top: 1px;
}
.tableToolbar .tableToolbar__filter > .ant-input-affix-wrapper .ant-input::placeholder {
  color: var(--font-color-light);
  font-size: 12px;
  font-style: italic;
}

.tableToolbar__pagination-display {
  font-size: 15px;
  font-weight: 500;
  color: var(--font-color-primary);
  display: flex;
  align-items: center;
}

.tableToolbar__pagination-display > span:not(:first-child) {
  margin-left: 3px;
}

.tableToolbar__filter {
  display: flex;
}
