.arranger-header {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px 4px 20px;
  background-color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  min-height: 43px;
  letter-spacing: 0.2px;
}

.arranger-header__title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color-1);
  margin: 0;
}
.arranger-header__title .anticon-info-circle {
  font-size: 12px;
  margin-left: 6px !important;
  color: var(--font-color-light);
}

/* tooltip not within scope of css variables */
.arranger-header__tooltip {
  .ant-tooltip-arrow:before {
    background-color: white !important;
  }

  div.ant-tooltip-inner {
    background-color: #ffffff;
    color: #595959;
    font-size: 12px;
    padding: 15px 25px;
    line-height: 1.57;
  }
}
