.inputWrapper {
  border: solid 1px #707070;
  border-radius: 6px;
  padding: 4px 4px 4px 8px;
}

.inputWrapper input {
  color: #595959;
}

.inputWrapper input::placeholder {
  font-style: italic;
  color: #818181;
}

.inputWrapper input:focus {
  outline: none;
}

.inputWrapper .inputIcon {
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWrapper .inputRightIcon {
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
